      body { margin: 0; }
      header {
        font-family: Helvetica, Arial, sans-serif;
        color: white;
        background: #18b;
        padding: 0;
        background-image: linear-gradient(to bottom, #17a 0%, #29d 100%);
      }
      #nav-top ul { display: inline; float: right; margin-top: 0; list-style: none; }
      #nav-top li { display: inline-block; margin-right: 30px; }
      header a { text-decoration: none; color: white; }
      header h1 {
        font-size: 30px;
        padding-top: 16px;
        clear: right;
        text-shadow: 1px 2px #248;
        font-family: "Copse", "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      #issn {
        font-style: oblique;
        font-size: large;
        text-decoration: none;
        color: black;
        position: fixed;
        top: 130px;
        left: 16px;
      }
      footer { font-size: small; text-align: center; margin-top: 40px; padding: 20px 0; }
