<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% include head-custom.html %}
  </head>
  <body>
      <header>
        <!--MFH:22.5.24: moved nav.menu to top-->
        <div style="text-align:right; display:inline; display-list: outside">
          <ul style="display:inline"><!--table border=0 width='100%' -->
            <li><a href='/'>Home</a>
            <li><a href='/call'>Call for papers</a>
            <li><a href='/contents'>Contents</a>
            <li><a href='/editors'>Editorial board</a>
            <li><a href='/subscribe'>Subscribe</a>
            <li><a href='/authors'>For authors</a>
            <li><a href='/about'>About</a>
          </ul>
        </div>
        <h1>
        <!--MFH:22.5.24: added logo here-->
          <span id="logo" style="background: url(/assets/images/logo.png)"></span>
        <!--MFH:22.5.24: removed page.title at front-->
        {{ site.title | default: page.title | default: site.github.repository_name }}</h1>
        <!--p>{ { page.description | default: site.description | default: site.github.project_tagline }}</p-->
      </header>

      <div id="banner">
        <a href="https://portal.issn.org/resource/ISSN/2161-3680">ISSN 2161-3680</a>
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
         {{ content }}

      </section>
      <footer>
        <p><small>&copy; 2011 - 2024 by <a href='/'>JNEEA.com</a>
          — Webmaster: <a href='/contact'>M. F. Hasler</a>
        </small></p>
      </footer>
    </div>
  </body>
</html>
